{{!-- // Este header se vincula con la carpeta de layout el archivo main.handlebars (es como react) --}}

<header>
            <nav>
            <ul>
                <li><a href="home"></a></li>

                <li><a href="./estudiojurico.html">Estudio Juridico</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
</header>
     <main>
    <h1>
        Bienvenido a {{titulo}}
    </h1>
    <p>Los años de experiencia me enseñaron que la escucha activa sobre los conflictos de los clientes
        permite ofrecer soluciones mas efectivas y personalizadas. Esto es posible dado a la atención
        brindada y el apoyo constante en sus necesidades.</p>
</main>   
</header>