{{!-- // Este header se vincula con la carpeta de layout el archivo main.handlebars --}}
<header>
  <nav>
    <img src="/public/1779655420633-990175082.jpg" alt="Logo" width="30" height="24">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/ambiental">Ambiental</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/comercial">Comercial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/familia">Familia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

